<div class="container">
  <h2>Select Team</h2>
  <ul>
    <li *ngFor="let team of teams" (click)="onSelect(team)">
      <img src="https://squiggle.com.au{{team.logo}}" alt="{{team.name}} logo" height="50">
        {{team.name}}
    </li>
  </ul>

  <div *ngIf="selectedTeam">
    <div class="row">
      <div class="col-md-6">
        <app-past-games [team]="selectedTeam"></app-past-games>
      </div>
      <div class="col-md-6">
        <app-next-game-prediction [team]="selectedTeam" [teams]="teams"></app-next-game-prediction>
      </div>
      <div class="col-md-6">
        <app-head-to-head [team]="selectedTeam" [teams]="teams"></app-head-to-head>
      </div>
    </div>
  </div>
</div>

