<div class="card">
  <div class="card-body">
    <h5 class="card-title">Previous premiership winners</h5>
    <div *ngIf="isLoaded(); then loaded else loading"></div>
    <ng-template #loaded>
      <table class="table">
        <thead>
          <tr>
            <th>Year</th>
            <th>Winner</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ladder of currentLadders">
            <td>{{ladder.year}}</td>
            <td>{{getTeamName(ladder.teamsIds[0])}}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
    <ng-template #loading>
      <h6 class="card-subtitle mb-2 text-muted">Loading...</h6>
    </ng-template>
  </div>
</div>